name: Build and Deploy to App Service

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Build and Push
      run: |
        az acr login --name ${{ secrets.ACR_NAME }}
        docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/flaskapp:latest .
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/flaskapp:latest

    - name: Deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: kv-flask-blob-app
        images: ${{ secrets.ACR_NAME }}.azurecr.io/flaskapp:latest
